<div class="container">
  <div class="cbp-af-header">
    <div class="cbp-af-inner">
      <h1> JOYDROID</h1>
      	<nav>
          <%= link_to "about", "#" %>
          <%= link_to "services", "#services" %>
          <%= link_to "portfolio", "#portfolio" %>
          <%= link_to "team", "#team" %>
          <%= link_to "interests", "#interests" %>
	</nav>
    </div>
  </div>
</div>
